apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: frontend
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: devspace-app
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: frontend
      app.kubernetes.io/managed-by: Helm
      app.kubernetes.io/name: devspace-app
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/component: frontend
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: devspace-app
    spec:
      affinity: null
      containers:
      - args: null
        command: null
        env:
        - name: VERSION
          value: {{ .Values.container.syft_version }}
        - name: VERSION_HASH
          value: {{ .Values.node.settings.versionHash }}
        - name: NODE_TYPE
          value: {{ .Values.node.settings.nodeType }}
        - name: NEXT_PUBLIC_API_URL
          value: ${NEXT_PUBLIC_API_URL}
        envFrom: null
        image: {{ .Values.container.registry }}/openmined/grid-frontend:{{ .Values.container.syft_version }}
        lifecycle: null
        livenessProbe: null
        name: container-0
        readinessProbe: null
        securityContext: null
        startupProbe: null
        volumeDevices: null
        volumeMounts: null
      dnsConfig: null
      ephemeralContainers: null
      hostAliases: null
      imagePullSecrets: null
      initContainers: null
      nodeName: null
      nodeSelector: null
      overhead: null
      readinessGates: null
      securityContext: null
      terminationGracePeriodSeconds: 5
      tolerations: null
      topologySpreadConstraints: null
      volumes: null
