apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: frontend
  name: frontend
spec:
  externalIPs: null
  ports:
  - name: port-0
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app.kubernetes.io/component: frontend
    app.kubernetes.io/name: devspace-app
  type: ClusterIP
