---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.ingressClass }}
  name: grid-stack-ingress
spec:
  defaultBackend:
    service:
      name: proxy
      port:
        number: 80
  rules:
  - host: {{ .Values.node.settings.hostname }}
    http:
      paths:
      - backend:
          service:
            name: proxy
            port:
              number: 80
        path: /
        pathType: Prefix
