apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: mongo
  name: mongo
spec:
  externalIPs: null
  ports:
  - name: port-0
    port: 27017
    protocol: TCP
    targetPort: 27017
  selector:
    app.kubernetes.io/component: mongo
    app.kubernetes.io/name: devspace-app
  type: ClusterIP
