{{- if ne .Values.node.settings.nodeType "gateway"}}
apiVersion: v1
kind: Service
metadata:
  annotations:
    helm.sh/chart: component-chart-0.9.1
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: seaweedfs
  name: seaweedfs
spec:
  externalIPs: null
  ports:
  - name: port-0
    port: 8888
    protocol: TCP
    targetPort: 8888
  - name: port-1
    port: 8333
    protocol: TCP
    targetPort: 8333
  - name: port-2
    port: 4001
    protocol: TCP
    targetPort: 4001
  selector:
    app.kubernetes.io/component: seaweedfs
    app.kubernetes.io/name: devspace-app
  type: ClusterIP
{{ end }}
