apiVersion: v1
data:
  dynamic.yml: |
    http:
      services:
        frontend:
          loadBalancer:
            servers:
              - url: "http://frontend"
        backend:
          loadBalancer:
            servers:
              - url: "http://backend"
        seaweedfs:
          loadBalancer:
            servers:
              - url: "http://seaweedfs:8333"
      routers:
        frontend:
          rule: "PathPrefix(`/`)"
          entryPoints:
            - "web"
          service: "frontend"
        backend:
          rule: "PathPrefix(`/api`) || PathPrefix(`/docs`) || PathPrefix(`/redoc`)"
          entryPoints:
            - "web"
          service: "backend"
        blob-storage:
          rule: "PathPrefix(`/blob`)"
          entryPoints:
            - "web"
          service: "seaweedfs"
          middlewares:
            - "blob-storage-url"
            - "blob-storage-host"
      middlewares:
        blob-storage-host:
          headers:
            customrequestheaders:
              Host: seaweedfs:8333
        blob-storage-url:
          stripprefix:
            prefixes: /blob
            forceslash: true
  traefik.yml: |
    global:
      checkNewVersion: false
      sendAnonymousUsage: false

    log:
      level: INFO

    entryPoints:
      web:
        address: :80
      ping:
        address: :8082

    ping:
      entryPoint: "ping"

    providers:
      file:
        filename: /etc/traefik/dynamic.yml
kind: ConfigMap
metadata:
  name: traefik-main-config
