services:
  proxy:
    ports:
      - "8080"
    volumes:
      - ./tls/rootCA.pem:/usr/local/share/ca-certificates/rootCA.pem

  tailscale:
    profiles:
      - vpn

  db:
    ports:
      - "5432"

  redis:
    ports:
      - "6379"

  queue:
    image: rabbitmq:3-management
    ports:
      - "5672"
      - "15672"

  headscale:
    profiles:
      - network
    ports:
      - "4000"

  seaweedfs:
    profiles:
      - blob-storage
    ports:
      - "9333" # admin
      - "8888" # filer
      - "8333" # S3

  backend:
    environment:
      - TEST_MODE=1

  backend_stream:
    environment:
      - TEST_MODE=1

  celeryworker:
    environment:
      - TEST_MODE=1
