version: "3.8"
services:
  tailscale:
    build:
      context: ${RELATIVE_PATH}./vpn
      dockerfile: tailscale.dockerfile

  frontend:
    build:
      context: ${RELATIVE_PATH}./frontend
      dockerfile: frontend.dockerfile
      target: "grid-ui-production"

  backend:
    build:
      context: ${RELATIVE_PATH}../
      dockerfile: ./grid/backend/backend.dockerfile
      target: "backend"

  backend_stream:
    build:
      context: ${RELATIVE_PATH}../
      dockerfile: ./grid/backend/backend.dockerfile
      target: "backend"

  celeryworker:
    build:
      context: ${RELATIVE_PATH}../
      dockerfile: ./grid/backend/backend.dockerfile
      target: "backend"

  headscale:
    build:
      context: ${RELATIVE_PATH}./vpn
      dockerfile: headscale.dockerfile
