version: "3.8"
services:
  frontend:
    build:
      context: ${RELATIVE_PATH}./frontend
      dockerfile: frontend.dockerfile
      target: "${FRONTEND_TARGET:-grid-ui-development}"

  backend:
    build:
      context: ${RELATIVE_PATH}../
      dockerfile: ./grid/backend/backend.dockerfile
      target: "backend"

  seaweedfs:
    build:
      context: ${RELATIVE_PATH}./seaweedfs
      dockerfile: seaweedfs.dockerfile
