version: "3.8"
services:
  # redis:
  #   image: redis:${REDIS_VERSION?Variable not set}

  # queue:
  #   image: rabbitmq:${RABBITMQ_VERSION?Variable not Set}${RABBITMQ_MANAGEMENT:-}

  # seaweedfs:
  #   image: "${DOCKER_IMAGE_SEAWEEDFS?Variable not set}"

  # docker-host:
  #   image: qoomon/docker-host

  proxy:
    image: ${DOCKER_IMAGE_TRAEFIK?Variable not set}:${TRAEFIK_VERSION?Variable not set}

  mongo:
    image: mongo:latest

  jaeger:
    image: jaegertracing/all-in-one:1.37
