Click==7.0
cryptography
eventlet==0.24.1
Flask==1.1.1
Flask-Cors==3.0.7
Flask-Executor==0.9.3
Flask-Sockets==0.2.1
flask_migrate
flask_sqlalchemy
flask_testing
gevent==1.4.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
jwt
MarkupSafe==1.1.1
psycopg2-binary
requests==2.22.0
requests_toolbelt
syft==0.2.6
Werkzeug==0.15.3

