Flask>=1.0.2
flask_socketio>=3.3.2
lz4>=2.1.6
msgpack>=1.0.0
numpy>=1.16.0
phe>=1.4.0
Pillow<7
requests==2.22.0
scipy>=1.4.1
syft-proto>=0.1.1.a1.post5
tblib>=1.4.0
torch==1.4
torchvision==0.5.0
websocket_client>=0.56.0
websockets>=7.0
zstd>=1.4.0.0
