bandit
black>=10.3b0
bumpversion>=0.5.3
coverage>=4.5.3
interrogate>=1.1.4
ipykernel>=5.1.0
mypy>=0.711
pre-commit>=1.16.1
pyopenssl>=19.0.0
pyshark>=0.4.2.4
pytest-randomly~=3.2.1
pytest>=5.4.1
setuptools>=41.0.0
sphinx-autoapi
sphinx-markdown-builder>=0.4.1
sphinx-rtd-theme
Sphinx>=2.1.1
