flask_socketio~=4.2.1
Flask~=1.1.1
lz4~=3.0.2
msgpack~=1.0.0
numpy~=1.18.1
phe~=1.4.0
Pillow~=6.2.2
requests~=2.22.0
scipy~=1.4.1
syft-proto~=0.4.4
tblib~=1.6.0
torchvision~=0.5.0
torch~=1.4.0
tornado==4.5.3
websocket_client~=0.57.0
websockets~=8.1.0
