[bumpversion]
current_version = 0.8.6-beta.1
tag = False
tag_name = {new_version}
commit = True
parse = 
	(?P<major>\d+)
	\.
	(?P<minor>\d+)
	\.
	(?P<patch>\d+)
	(\-(?P<pre>[a-z]+)\.(?P<prenum>\d+))?
serialize = 
	{major}.{minor}.{patch}-{pre}.{prenum}
	{major}.{minor}.{patch}

[bumpversion:part:pre]
optional_value = placeholder
first_value = alpha
values = 
	alpha
	beta
	rc
	placeholder

[bumpversion:part:prenum]
first_value = 1

[bumpversion:file:VERSION]

[bumpversion:file:packages/syft/setup.cfg]

[bumpversion:file:packages/syft/src/syft/__init__.py]

[bumpversion:file:packages/syft/src/syft/VERSION]

[bumpversion:file:packages/grid/devspace.yaml]

[bumpversion:file:packages/grid/VERSION]

[bumpversion:file:packages/grid/backend/worker_cpu.dockerfile]

[bumpversion:file:packages/grid/frontend/package.json]

[bumpversion:file:packages/grid/helm/syft/Chart.yaml]

[bumpversion:file:packages/grid/podman/podman-kube/podman-syft-kube.yaml]

[bumpversion:file:packages/grid/podman/podman-kube/podman-syft-kube-config.yaml]

[bumpversion:file:packages/grid/helm/syft/values.yaml]

[bumpversion:file:packages/hagrid/hagrid/manifest_template.yml]

[bumpversion:file:packages/hagrid/hagrid/deps.py]

[bumpversion:file:packages/syftcli/manifest.yml]
