# dot files / folders
.cache/
.coverage
.DS_Store
.eggs/
.idea/
.mypy_cache
.python-version
.vscode/
.tox/*

# python stuff
*__pycache__*
*.pyc
*.swp
*.swo
*.ipynb_checkpoints*
**.pytest_cache/
**/pip-wheel-metadata

# logs and database files
**/*.log
**/*.sqlite
**/*.sqlite-journal

# docker compose volumes
docker/data/*

# hagrid temps
packages/hagrid/syft
packages/hagrid/grid

# vagrant
.vagrant

# venv
venv

# docs
docs/build
docs/source/_build

# helmcharts
helm-charts/**/*.tgz
helm-charts/**/*.lock
.helm/**

# docker cache
.docker-cache/

# notebook data
notebooks/medical-federated-learning-program/data-owners/MedNIST.pkl

# k3d registry
k3d-registry

.envfile
packages/hagrid/.envfile
