# dot files / folders
.cache/
.coverage
.DS_Store
.eggs/
.idea/
.mypy_cache
.python-version
.vscode/

# python stuff
*__pycache__*
*.pyc
*.swp
*.swo
*.ipynb_checkpoints*
**.pytest_cache/
**/pip-wheel-metadata

# logs and database files
**/*.log
**/*.sqlite
**/*.sqlite-journal
