.mypy_cache
.DS_Store
build/
_build/
dist/
.cache/
.coverage
.eggs/
.idea/
.python-version
*__pycache__*
*.pyc
syft.egg-info/
*.swp
*.swo
*.ipynb_checkpoints*
venv/
**.pytest_cache/
docs/_modules
.coverage
.vscode/
**/pip-wheel-metadata
.ropeproject/
