[settings]
profile=black
force_single_line=True
known_syft=syft
known_server=grid
known_syftcli=syftcli
known_first_party=src
remove_redundant_aliases=True
sections=FUTURE,STDLIB,THIRDPARTY,SYFT,SERVER,SYFTCLI,FIRSTPARTY,LOCALFOLDER
lines_between_types=0
force_sort_within_sections=True
import_heading_future=future
import_heading_stdlib=stdlib
import_heading_thirdparty=third party
import_heading_syft=syft absolute
import_heading_server=server absolute
import_heading_syftcli=syftcli absolute
import_heading_firstparty=first party
import_heading_localfolder=relative
ignore_comments=False
force_grid_wrap=True
honor_noqa=True
skip_glob=packages/syft/src/syft/__init__.py,packages/grid/data/*