repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
        exclude: ^(packages/grid/ansible/)
        always_run: true
      - id: trailing-whitespace
        always_run: true
        exclude: ^(docs/|.+\.md|.bumpversion.cfg)
      - id: check-docstring-first
        always_run: true
        exclude: ^(packages/grid/ansible/)
      - id: check-json
        always_run: true
        exclude: ^(packages/grid/frontend/)
      - id: check-added-large-files
        always_run: true
        exclude: ^(packages/grid/backend/wheels/.*|docs/img/header.png|docs/img/terminalizer.gif)
      - id: check-yaml
        always_run: true
        exclude: ^(packages/grid/k8s/rendered/|packages/grid/helm/)
      - id: check-merge-conflict
        always_run: true
        args: ["--assume-in-merge"]
      - id: check-executables-have-shebangs
        always_run: true
        exclude: ^(packages/grid/ansible/)
      - id: debug-statements
        always_run: true
        exclude: ^(packages/grid/ansible/)
      - id: name-tests-test
        always_run: true
        exclude: ^(packages/grid/backend/grid/tests/utils/)|^(.*fixtures.py)
      - id: requirements-txt-fixer
        always_run: true
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: '\.bat|\.csv|\.ps1$'

  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
        args: ["--never", "--application-directories=packages/syft/src"]
        always_run: true
        files: ^packages/syft/src
        exclude: |
          (?x)^(
              packages/syft/examples/.*|
              packages/syft/src/syft/proto.*|
              packages/syft/tests/syft/lib/python.*|
              packages/grid.*|
              packages/hagrid.*|
              packages/syft/src/syft/federated/model_serialization/protos.py
          )$

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort
        args: [".", "--settings-path .isort.cfg"]
        always_run: true

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        args: ["."]
        always_run: true
        # exclude: ^(packages/syft/src/syft/proto)
        files: "^packages/syft(?!(.*_pb2\\.py$)).*\\.py"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.0.247"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # - repo: https://github.com/PyCQA/flake8
  #   rev: 6.0.0
  #   hooks:
  #     - id: flake8
  #       args: ["--config=packages/syft/setup.cfg"]
  #       always_run: true
  #       additional_dependencies:
  #         - flake8-bugbear
  #       files: "^packages/syft(?!(/tests/|.*_pb2\\.py$)).*\\.py"

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.0
    hooks:
      - id: mypy
        name: "mypy: hagrid"
        always_run: true
        files: ^packages/hagrid
        args: [
            "--ignore-missing-imports",
            "--scripts-are-modules",
            "--disallow-incomplete-defs",
            "--no-implicit-optional",
            "--warn-unused-ignores",
            "--warn-redundant-casts",
            "--strict-equality",
            "--warn-unreachable",
            # "--disallow-untyped-decorators",
            "--disallow-untyped-defs",
            "--disallow-untyped-calls",
            "--namespace-packages",
            "--install-types",
            "--non-interactive",
            "--config-file=tox.ini",
          ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.0
    hooks:
      - id: mypy
        name: "mypy: syft-cli"
        always_run: true
        files: ^packages/syft-cli
        args: [
            "--ignore-missing-imports",
            "--scripts-are-modules",
            "--disallow-incomplete-defs",
            "--no-implicit-optional",
            "--warn-unused-ignores",
            "--warn-redundant-casts",
            "--strict-equality",
            "--warn-unreachable",
            # "--disallow-untyped-decorators",
            "--disallow-untyped-defs",
            "--disallow-untyped-calls",
            "--namespace-packages",
            "--install-types",
            "--non-interactive",
            "--config-file=tox.ini",
          ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.0
    hooks:
      - id: mypy
        name: "mypy: grid"
        files: ^packages/grid
        always_run: true
        args: [
            "--ignore-missing-imports",
            "--scripts-are-modules",
            "--disallow-incomplete-defs",
            "--no-implicit-optional",
            # "--warn-unused-ignores",
            "--warn-redundant-casts",
            "--strict-equality",
            "--warn-unreachable",
            # "--disallow-untyped-decorators",
            "--disallow-untyped-defs",
            "--disallow-untyped-calls",
            "--namespace-packages",
            "--install-types",
            "--non-interactive",
            "--config-file=tox.ini",
          ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.0
    hooks:
      - id: mypy
        name: "mypy: syft"
        always_run: true
        # files: "^packages/syft/src/syft/serde|^packages/syft/src/syft/util"
        files: "^packages/syft/src/syft/serde"
        args: [
            "--follow-imports=skip",
            "--ignore-missing-imports",
            "--scripts-are-modules",
            "--disallow-incomplete-defs",
            "--no-implicit-optional",
            # "--warn-unused-ignores",
            "--warn-redundant-casts",
            "--strict-equality",
            "--warn-unreachable",
            # "--disallow-untyped-decorators",
            "--disallow-untyped-defs",
            "--disallow-untyped-calls",
            "--no-warn-unused-ignores",
            "--install-types",
            "--non-interactive",
            "--config-file=tox.ini",
          ]

  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        files: "^notebooks/api|^notebooks/tutorials"

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.9-for-vscode"
    hooks:
      - id: prettier
        exclude: ^(packages/grid/helm|packages/hagrid/hagrid/manifest_template.yml)

  # - repo: meta
  #   hooks:
  #     - id: identity
  #       always_run: true
  #       files: "notebooks/api/*"
