[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "<1.8.0,>=1.4.0"
torchcsprng = "<=0.2.0"
torchvision = "<0.9,>=0.5"
aiortc = "*"
dataclasses = "*"
dpcontracts = "*"
forbiddenfruit = ">=0.1.3"
loguru = "*"
matplotlib = "*"
nest-asyncio = "*"
pandas = "*"
protobuf = "*"
requests = "*"
scikit-learn = "*"
sqlitedict = "*"
typeguard = "*"
typing-extensions = "*"
websockets = "*"
Flask = "*"
PyNaCl = "*"

[dev-packages]

[requires]
python_version = "3.6"
