-r ./requirements.txt

bandit
black
black-nb
darglint
doc8
flake8
flake8-kwarger @ git+https://github.com/madhavajay/flake8-kwarger
isort
nbconvert
nbformat
pytest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-custom_exit_code
pytest-sugar
pytest-xdist[psutil]
pytest-xprocess
