-r ./requirements.libs.deps.txt

gym
numpy
opacus
openmined.psi
pandas
petlib
pillow
python-dp
pytorch-lightning @ git+https://github.com/tudorcebere/pytorch-lightning@tudor-om-v0
statsmodels
sympc @ git+https://github.com/OpenMined/SyMPC@main
tenseal
zksk
