black
coverage
Flask
numpy>=1.14.0
pre-commit
pytest
requests
websocket_client
websockets>=7.0
eventlet==0.25.0
requests-toolbelt==0.9.1
flask_sqlalchemy
flask_migrate
flask_testing
flask_cors
gevent
gevent-websocket
flask_sockets
flask_login
pbr
syft_proto
flask_cors
flask_login
redis
-e git+https://github.com/IonesioJunior/PySyft@add_grid_workers#egg=syft
