extend-include = ["*.ipynb"]

line-length = 88

target-version = "py310"

extend-exclude = ["*.gypi"]

# Enable flake8-bugbear (`B`) rules.
# https://beta.ruff.rs/docs/configuration/#using-rufftoml
[lint]
select = [
    "E",    # pycodestyle
    "F",    # pyflake
    "B",    # flake8-bugbear
    "C4",   # flake8-comprehensions
    # "PERF", # perflint
    "UP",   # pyupgrade
]
ignore = [
    "B904",  # check for raise statements in exception handlers that lack a from clause
    "B905",  # zip() without an explicit strict= parameter
    "E721",  # must be removed before merge
    "RUF003",  # must be removed before merge
    "RUF005",  # must be removed before merge
    "RUF012",
    "RUF013",
    "RUF015",  # must be removed before merge
    "RUF018",  # must be removed before merge
]

[lint.per-file-ignores]
"*.ipynb" = ["E402"]
"__init__.py" = ["F401"]

[lint.pycodestyle]
max-line-length = 120
