line-length = 120

# Enable flake8-bugbear (`B`) rules.
# https://beta.ruff.rs/docs/configuration/#using-rufftoml
select = ["E", "F", "B"]

ignore = ["B904", "B905"]

[per-file-ignores]
"__init__.py" = ["F401"]
