[bumpversion]
current_version = 0.1.11
tag = False
tag_name = {new_version}
commit = True
commit_message = Bump version: {current_version} → {new_version}

[bumpversion:file:syftcli/version.py]

[bumpversion:file:setup.py]
