---
- name: Kill Docker Containers
  shell: "docker rm $(docker ps -qa) --force || true"
  become_user: "{{ om_user }}"
  ignore_errors: yes

- name: Build Docker Images
  shell: "docker compose build"
  args:
    chdir: "{{ build_dir }}/packages/grid"
  become_user: "{{ om_user }}"
  when: vagrant is not defined

- name: Build Docker Images
  shell: "docker compose build"
  args:
    chdir: "{{ syft_dir }}/packages/grid"
  become_user: "{{ om_user }}"
  when: vagrant is defined

- name: Remove old Docker Images
  shell: "docker rmi $(docker images -qa -f 'dangling=true') || true"
  become_user: "{{ om_user }}"
  ignore_errors: yes

- name: Remove Docker Volumes
  shell: "docker volume prune -f"
  become_user: "{{ om_user }}"
  ignore_errors: yes
  when: docker_volume_destroy is defined

- name: Fix Bad DB
  shell: "source ../packages/grid/.env && ./fix_db.sh $POSTGRES_PASSWORD d4867f3a4c0a"
  args:
    chdir: "{{ build_dir }}/scripts"
  become_user: "{{ om_user }}"
  ignore_errors: yes
  when: docker_volume_destroy is not defined

- name: Start Docker Containers
  shell:
    cmd: runuser -l {{ om_user }} -c 'hagrid launch {{ node_name }} {{ node_type }} to docker:80 --tail=false'
  become: yes
