---
# Dynamic configuration for Traefik with TLS certificates
tls:
  certificates:
  - certFile: /etc/traefik/certs/cert.pem
    keyFile: /etc/traefik/certs/key.pem
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/certs/cert.pem
        keyFile: /etc/traefik/certs/key.pem
