# Default values for syft.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

secrets:
  syft: syft-default-secret
  mongo: mongo-default-secret
  seaweedfs: seaweedfs-default-secret

configuration:
  devmode: false

mongo:
  port: "'27017'"
  host: "mongo"
  username: "root"

seaweedfs:
  # SeaweedFS config
  mountPort: 4001
  # SeaweedFS S3 Config
  s3VolumeSizeMB: 1024
  s3Port: 8333
  s3RootUser: "admin"

syft:
  registry: "docker.io"
  version: 0.8.4-beta.4

node:
  settings:
    tls: false
    hostname: "" # do not make this localhost
    nodeName: "mynode"
    nodeType: "domain"
    versionHash: "abc"
    nodeSideType: "high"
    defaultRootEmail: "info@openmined.org"

ingress:
  ingressClass: ""
  # ingressClass: "azure/application-gateway"
  # ingressClass: "gce"
