secrets:
  syft: syft-default-secret
  mongo: mongo-default-secret
  seaweedfs: seaweedfs-default-secret

configuration:
  devmode: false

mongo:
  port: 27017
  host: "mongo"
  username: "root"

seaweedfs:
  # SeaweedFS config
  mountPort: 4001
  # SeaweedFS S3 Config
  s3VolumeSizeMB: 1024
  s3Port: 8333
  s3RootUser: "admin"
  # storage limits
  maxStorage: "5Gi"

queue:
  port: 5556

registry:
  maxStorage: "10Gi"

syft:
  registry: "docker.io"
  version: 0.8.4-beta.29

node:
  settings:
    tls: false
    hostname: "" # do not make this localhost
    nodeName: "mynode"
    nodeType: "domain"
    versionHash: "abc"
    nodeSideType: "high"
    defaultRootEmail: "info@openmined.org"
    logLevel: "info"
    inMemoryWorkers: false
    defaultWorkerPoolCount: 1

# ----------------------------------------
# For Azure
# className: "azure-application-gateway"
# ----------------------------------------
# For AWS
# className: "alb"
# ----------------------------------------
# For GCE, https://cloud.google.com/kubernetes-engine/docs/how-to/load-balance-ingress#create-ingress
# class: "gce"
# ----------------------------------------
ingress:
  class: null
  className: null
