global:
  # Affects only backend, frontend, and seaweedfs containers
  registry: docker.io
  version: 0.9.2-beta.3

  # Force default secret values for development. DO NOT SET THIS TO FALSE IN PRODUCTION
  randomizedSecrets: true

  # Kaniko version
  kaniko:
    version: "v1.23.2"

# =================================================================================

postgres:
# Postgres config
  port: 5432
  username: syft_postgres
  dbname: syftdb_postgres
  host: postgres

  # Extra environment vars
  env: null

  # Pod labels & annotations
  podLabels: null
  podAnnotations: null

  # Node selector for pods
  nodeSelector: null

  # Pod Resource Limits
  resourcesPreset: large
  resources: null

  # PVC storage size
  storageSize: 5Gi

  # Mongo secret name. Override this if you want to use a self-managed secret.
  secretKeyName: postgres-secret

  # default/custom secret raw values
  secret:
      rootPassword: null
# =================================================================================

frontend:
  # Extra environment vars
  env: null

  # Pod Resource Limits
  resourcesPreset: medium
  resources: null

# =================================================================================

seaweedfs:
  # Master
  master:
    # Seaweed Volume Size in MB set on master. This is not PVC.
    volumeSizeMB: 1000
    # master.toml For details check weed scaffold -config=master
    config: null

  # filer
  filer:
    # filer.toml For details check weed scaffold -config=filer
    config: null

  # S3
  s3:
    rootUser: admin

  minSizeBlobStorageMB: 16

  # Mount API
  mountApi:
    # automount:
    #   - local_bucket: test-bucket
    #     remote_bucket:
    #       type: gcs
    #       bucket_name: test-bucket
    #       creds: /etc/secrets/gcs_creds.json
    automount: null

    # Provision the secret externally or through extraResources
    secretKeyName: null

  # Extra environment vars
  env: null

  # PVC storage size
  storageSize: 100Gi

  # Seaweed secret name. Override this if you want to use a self-managed secret.
  # Secret must contain the following keys:
  # - s3RootPassword
  secretKeyName: seaweedfs-secret

  # Pod labels & annotations
  podLabels: null
  podAnnotations: null

  # Node selector for pods
  nodeSelector: null

  # Pod Resource Limits
  resourcesPreset: xlarge
  resources: null

  # extra volume mounts
  volumes: null
  volumeMounts: null

  # default/custom secret raw values
  secret:
    s3RootPassword: null

# =================================================================================

proxy:
  enabled: true
  # Extra environment vars
  env: null

  # Pod labels & annotations
  podLabels: null
  podAnnotations: null

  # Proxy Service annotations
  serviceAnnotations: null

  # Node selector for pods
  nodeSelector: null

  # Pod Resource Limits
  resourcesPreset: small
  resources: null

# =================================================================================

registry:
  enabled: true

  # Extra environment vars
  env: null

  # PVC storage size
  storageSize: 50Gi

  # Pod labels & annotations
  podLabels: null
  podAnnotations: null

  # Node selector for pods
  nodeSelector: null

  # Pod Resource Limits
  resourcesPreset: medium
  resources: null

# =================================================================================

server:
  # Syft settings
  name: null
  rootEmail: info@openmined.org
  type: datasite
  side: high
  defaultBucketName: null
  inMemoryWorkers: false
  queuePort: 5556
  logLevel: info
  debuggerEnabled: false
  associationRequestAutoApproval: false
  useInternalRegistry: true
  tracing:
    enabled: false
    # OpenTelemetry Collector endpoint
    otlpEndpoint: ""
    otlpProtocol: grpc

  # Default Worker pool settings
  defaultWorkerPool:
    count: 1
    podLabels: null
    podAnnotations: null

  # SMTP Settings
  smtp:
    enabled: false

    host: null
    port: null
    from: null
    username: null
    password: null

    # Existing secret for SMTP with key 'smtpPassword'
    existingSecret: null

  # Extra environment vars
  env: null

  # Pod labels & annotations
  podLabels: null
  podAnnotations: null

  # Node selector for pods
  nodeSelector: null

  # Pod Resource Limits
  resourcesPreset: xlarge
  resources: null

  # Backend secret name. Override this if you want to use a self-managed secret.
  # Secret must contain the following keys:
  # - defaultRootPassword
  secretKeyName: backend-secret

  # default/custom secret raw values
  secret:
    defaultRootPassword: null

# =================================================================================

ingress:
  hostname: null # do not make this localhost
  annotations: null

  # When using nginx ingress controller without internal proxy , re-enable this
  # annotations:
  #   nginx.ingress.kubernetes.io/use-regex: "true"
  #   nginx.ingress.kubernetes.io/rewrite-target: /$2$3
  #   nginx.ingress.kubernetes.io/upstream-vhost: "$service_name:$service_port"

  tls:
    enabled: false
    secretName: null

  # ----------------------------------------
  # For Azure
  # className: azure-application-gateway
  # ----------------------------------------
  # For AWS
  # className: alb
  # ----------------------------------------
  # For GCE, https://cloud.google.com/kubernetes-engine/docs/how-to/load-balance-ingress#create-ingress
  # class: gce
  # ----------------------------------------
  class: null
  className: null

# =================================================================================

rtunnel:
  enabled: false
  logLevel: info

  port: 2333
  mode: client

  # Extra environment vars
  env: null

  # Pod labels & annotations
  podLabels: null
  podAnnotations: null

  # Node selector for pods
  nodeSelector: null

  # Pod Resource Limits
  resourcesPreset: small
  resources: null

# =================================================================================

# Enclave attestation Service
attestation:
  enabled: false
  appLogLevel: "info"
  uvicornLogLevel: "info"

  # Extra environment vars
  env: null

  # Pod Resource Limits
  resourcesPreset: nano
  resources: null

# =================================================================================

extraResources: []
