bcrypt==3.2.0Flask==1.1.2
Flask-Cors==3.0.7
Flask-Executor==0.9.3
flask-lambda-python36==0.1.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.4.4
gevent==20.6.2
gevent-websocket==0.10.1
gunicorn==20.0.4
papermill==2.0.0
psycopg2-binary==2.8.5
pyjwt==1.7.1
redis==3.5.3
requests-toolbelt==0.9.1
sqlalchemy-aurora-data-api==0.2.0
sqlalchemy_mixins==1.2.1
sqlalchemy_utils==0.36.8
wsaccel==0.6.2
