apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grid-stack-ingress
  annotations:
    ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 80
          - path: /api/v1/syft/stream
            pathType: Prefix
            backend:
              service:
                name: backend-stream
                port:
                  number: 80
