apiVersion: v1
kind: ConfigMap
data:
  dynamic.yml: |
    http:
      services:
        frontend:
          loadBalancer:
            servers:
              - url: "http://frontend"
        backend:
          loadBalancer:
            servers:
              - url: "http://backend"
        backend-stream:
          loadBalancer:
            servers:
              - url: "http://backend-stream"
        seaweedfs:
          loadBalancer:
            servers:
              - url: "http://seaweedfs:8333"
      routers:
        frontend:
          rule: "PathPrefix(`/`)"
          entryPoints:
            - "web"
          service: "frontend"
        backend:
          rule: "PathPrefix(`/api`) || PathPrefix(`/docs`) || PathPrefix(`/redoc`)"
          entryPoints:
            - "web"
          service: "backend"
        backend-stream:
          rule: "PathPrefix(`/api`) && PathPrefix(`/api/v1/syft/stream`) || PathPrefix(`/docs`) || PathPrefix(`/redoc`)"
          entryPoints:
            - "web"
          service: "backend-stream"
        blob-storage:
          rule: "PathPrefix(`/blob`)"
          entryPoints:
            - "web"
          service: "seaweedfs"
          middlewares:
            - "blob-storage-url"
            - "blob-storage-host"
      middlewares:
        blob-storage-host:
          headers:
            customrequestheaders:
              Host: seaweedfs:8333
        blob-storage-url:
          stripprefix:
            prefixes: /blob
            forceslash: true

  traefik.yml: |
    global:
      checkNewVersion: false
      sendAnonymousUsage: false

    log:
      level: INFO

    entryPoints:
      web:
        address: :80

    providers:
      file:
        filename: /etc/traefik/dynamic.yml
metadata:
  name: traefik-main-config
