
# These are dummy values that can be used to get started quickly
# Replace these with real values when deploying to a real environment

# For postgres DB which hosts the wallets
WALLET_DB_HOST=data-scientist-wallet-db
WALLET_DB_PORT=5432
WALLET_DB_USER=postgres
WALLET_DB_PASS=dbpass
WALLET_DB_ADMIN_USER=postgres
WALLET_DB_ADMIN_PASS=dbpass

# These values are only used locally by docker-compose to set up the DB container - should match values above
POSTGRES_PASSWORD=dbpass
POSTGRES_USER=postgres
POSTGRES_DB=data-scientist_wallet

# for tails server local use only
# GENESIS_URL=http://localhost:9000/genesis
# STORAGE_PATH=/tmp/tails-files
# LOG_LEVEL=INFO
# TAILS_URL=http://tails-server:6543

# for aca-py
HTTP_PORT=3020
WEBHOOK_PORT=3010
ADMIN_PORT=3021
ADMIN_URL=http://data-scientist-agent:3021
ACAPY_OUTBOUND_TRANSPORT=http
ACAPY_ADMIN=[0.0.0.0,3021]
ACAPY_ENDPOINT=http://data-scientist-agent:3020
ACAPY_WEBHOOK_URL=http://data-scientist-business-logic:3010
ACAPY_ADMIN_API_KEY=datascientistsecretapi

# DO NOT USE IN INSECURE MODE
# ACAPY_ADMIN_INSECURE_MODE=true

ACAPY_LABEL=Data Scientist
ACAPY_WALLET_NAME=DataScientistWallet
ACAPY_WALLET_KEY=data-scientist_walletkey
ACAPY_WALLET_TYPE=indy
ACAPY_WALLET_STORAGE_TYPE=postgres_storage

## Optionally Specify a Seed
# ACAPY_WALLET_SEED=0000000000000000000000000000Any1


ACAPY_WALLET_STORAGE_CONFIG={"url":"data-scientist-wallet-db:5432","wallet_scheme":"MultiWalletSingleTable"}
ACAPY_WALLET_STORAGE_CREDS={"account":"postgres","password":"dbpass","admin_account":"postgres","admin_password":"dbpass"}

ACAPY_LOG_LEVEL=info
ACAPY_AUTO_PROVISION=true


## Local Network
# ACAPY_GENESIS_FILE=/home/indy/resources/pool_transactions_genesis_local_dev

# Sovrin StagingNet
ACAPY_GENESIS_URL=https://raw.githubusercontent.com/sovrin-foundation/sovrin/master/sovrin/pool_transactions_sandbox_genesis


# Multi-tenant Configuration
# ACAPY_MULTITENANT=true
# ACAPY_MULTITENANT_ADMIN=true
# ACAPY_MULTITENANT_JWT_SECRET=jwtSecret


# Name of ngrok container if exposing agent endpoint over ngrok
NGROK_NAME= ngrok-data-scientist



# Optional Helper Configurations - See https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/config/argparse.py
ACAPY_AUTO_ACCEPT_INVITES=true
ACAPY_AUTO_ACCEPT_REQUESTS=true
ACAPY_AUTO_PING_CONNECTION=true
ACAPY_AUTO_RESPOND_MESSAGES=false
ACAPY_AUTO_RESPOND_CREDENTIAL_PROPOSAL=true
ACAPY_AUTO_RESPOND_CREDENTIAL_OFFER=true
ACAPY_AUTO_RESPOND_CREDENTIAL_REQUEST=true
ACAPY_AUTO_RESPOND_PRESENTATION_PROPOSAL=true
ACAPY_AUTO_RESPOND_PRESENTATION_REQUEST=true
ACAPY_AUTO_STORE_CREDENTIAL=true
ACAPY_AUTO_VERIFY_PRESENTATION=false
ACAPY_PRESERVE_EXCHANGE_RECORDS=true