Flask==1.0.2
Flask-Cors==3.0.7
Flask-Sockets==0.2.1
gevent==1.4.0
git+git://github.com/OpenMined/PySyft@master
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.3
requests
requests_toolbelt
flask_login
redis
