Click==7.0
Flask==1.0.2
eventlet==0.24.1
gunicorn==19.9.0
Flask-Cors==3.0.7
Flask-SocketIO==3.3.2
itsdangerous==1.1.0
Flask-Sockets==0.2.1
Jinja2==2.10.1
MarkupSafe==1.1.1
gevent==1.4.0
redis==3.2.1
Werkzeug==0.15.2
syft
git+git://github.com/OpenMined/Grid@dev
https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl; sys_platform == "linux"
https://download.pytorch.org/whl/cpu/torch-1.0.1-cp36-cp36m-win_amd64.whl; sys_platform == "windows"
torch; sys_platform == "darwin"
torchvision
psycopg2
