name: Run tests

on:
  push:
    branches:
      - dev
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged

    steps:
      - name: checkout
        if: github.event.pull_request.merged
        uses: actions/checkout@v1
        with:
          ref: dev
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build images
        run: |
          sudo apt install gcc
          docker build . --file ./apps/node/Dockerfile --tag openmined/grid-node:latest
          docker build . --file ./apps/network/Dockerfile --tag openmined/grid-network:latest
      - name: Push images
        run: |
          docker push openmined/grid-node:latest
          docker push openmined/grid-network:latest
