name: HAGrid PR Tests

on:
  pull_request:
    branches:
      - dev
      - demo_strike_team_branch_4
      - "0.6.0"
    paths:
      - ".github/workflows/hagrid-*.yml"
      - "packages/hagrid/**.py"
      - "packages/hagrid/**.txt"
      - "packages/hagrid/setup.cfg"
defaults:
  run:
    working-directory: ./packages/hagrid

jobs:
  hagrid-pip:
    strategy:
      max-parallel: 2
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.9]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: |
          pip install --upgrade --user pip

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: pip cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-py${{ matrix.python-version }}-${{ hashFiles('packages/hagrid/setup.cfg') }}
          restore-keys: |
            ${{ runner.os }}-pip-py${{ matrix.python-version }}-

      - name: Install Dependencies
        run: |
          pip install --upgrade bandit safety setuptools wheel twine tox
          pip install -e .

      - name: Scan for security issues
        continue-on-error: true
        run: |
          bandit -r .
          safety check

      - name: Build Wheel
        run: |
          python setup.py bdist_wheel

      - name: Twine Check
        run: |
          twine check `find -L ./ -name "*.whl"`

  hagrid-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # In this step, this action saves a list of existing images,
      # the cache is created without them in the post run.
      # It also restores the cache if it exists.
      - uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
        with:
          key: hagrid-${{ hashFiles('packages/hagrid/Dockerfile') }}
          restore-keys: |
            hagrid-

      - name: Build the Docker image
        run: |
          ./build_docker.sh

  hagrid-tests-latest-versions:
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.9]
        torch-version: [1.8.1]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: |
          pip install --upgrade --user pip

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: pip cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-py${{ matrix.python-version }}-${{ hashFiles('setup.cfg') }}
          restore-keys: |
            ${{ runner.os }}-pip-py${{ matrix.python-version }}-

      - name: Install Dependencies
        run: |
          pip install packaging --default-timeout=60
          python scripts/parse_setup.py setup.cfg | xargs pip install --no-deps || true
          pip install -e .
          pip install pytest

      - name: Run normal tests
        run: |
          pytest --durations=50
