  name: Nightlies Run All Tests

  on:
    schedule:
      - cron: "0 22 * * *" # 10pm UTC, 3:30pm Indian, 7pm Brazil, 9am AEDT
    workflow_dispatch:
      inputs:
        none:
          description: "Run Nightlies Tests Manually"
          required: false

  jobs:
    call-grid-backend_test:
      uses: bitsofsteve/PySyft/.github/workflows/grid-backend_tests.yml@dev
