name: Post Merge Tasks

on:
  workflow_call:

  push:
    branches:
      - dev
      - main

jobs:
  post-merge-cleanup-notebooks:
    strategy:
      matrix:
        python-version: ["3.12"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.SYFT_BOT_COMMIT_TOKEN }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pip packages
        run: |
          python -m pip install --upgrade --user pip tox

      - name: Check and Bump Protocol Version
        run: |
          tox -e syft.protocol.check

      - name: Commit changes to bump protocol and remove notebooks
        uses: EndBug/add-and-commit@v9
        with:
          author_name: ${{ secrets.OM_BOT_NAME }}
          author_email: ${{ secrets.OM_BOT_EMAIL }}
          message: "bump protocol and remove notebooks"
          remove: "-r notebooks/Experimental/ --ignore-unmatch"
          add: "['packages/syft/src/syft/protocol/protocol_version.json']"
          commit: "-a"
