name: PR Tests - Stack - Public

on:
  workflow_call:

  workflow_dispatch:
    inputs:
      none:
        description: "Run Stack Integration Tests Manually"
        required: false

concurrency:
  group: stackpublic-${{ github.event_name == 'pull_request' && format('{0}-{1}', github.workflow, github.event.pull_request.number) || github.workflow_ref }}
  cancel-in-progress: true

jobs:
  pr-tests-stack-public:
    strategy:
      max-parallel: 99
      matrix:
        os: [ubuntu-latest, macos-latest, windows]
        python-version: ["3.12"]
        pytest-modules: ["frontend network"]
      fail-fast: false

    runs-on: ${{matrix.os}}

    steps:
      - name: "clean .git/config"
        if: matrix.os == 'windows'
        continue-on-error: true
        shell: bash
        run: |
          echo "deleting ${GITHUB_WORKSPACE}/.git/config"
          rm ${GITHUB_WORKSPACE}/.git/config

      - uses: actions/checkout@v4

      - name: Check for file changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          base: ${{ github.ref }}
          token: ${{ github.token }}
          filters: .github/file-filters.yml

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        if: steps.changes.outputs.stack == 'true'
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install --upgrade pip uv==0.1.28
          uv --version

      - name: Get pip cache dir
        if: steps.changes.outputs.stack == 'true'
        id: pip-cache
        shell: bash
        run: |
          echo "dir=$(uv cache dir)" >> $GITHUB_OUTPUT

      - name: pip cache
        uses: actions/cache@v4
        if: steps.changes.outputs.stack == 'true'
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-uv-py${{ matrix.python-version }}
          restore-keys: |
            ${{ runner.os }}-uv-py${{ matrix.python-version }}

      - name: Install tox
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install --upgrade tox tox-uv==1.5.1

      - name: Show choco installed packages
        if: steps.changes.outputs.stack == 'true' && matrix.os == 'windows'
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: list --localonly

      - name: Install git
        if: steps.changes.outputs.stack == 'true' && matrix.os == 'windows'
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install git.install --params "/GitAndUnixToolsOnPath /WindowsTerminal /NoAutoCrlf" -y

      - name: Install cmake
        if: steps.changes.outputs.stack == 'true' && matrix.os == 'windows'
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install cmake.portable --installargs 'ADD_CMAKE_TO_PATH=System' -y

      - name: Check cmake version
        if: steps.changes.outputs.stack == 'true' &&  matrix.os == 'windows'
        run: |
          cmake --version
        shell: cmd

      - name: Install visualcpp-build-tools
        if: steps.changes.outputs.stack == 'true' && matrix.os == 'windows'
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install visualstudio2019-workload-vctools -y

      - name: Install Docker Compose
        if: steps.changes.outputs.stack == 'true' && runner.os == 'Linux'
        shell: bash
        run: |
          mkdir -p ~/.docker/cli-plugins
          DOCKER_COMPOSE_VERSION=v2.21.0
          curl -sSL https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-linux-x86_64 -o ~/.docker/cli-plugins/docker-compose
          chmod +x ~/.docker/cli-plugins/docker-compose

      - name: Docker on MacOS
        if: steps.changes.outputs.stack == 'true' && matrix.os == 'macos-latest'
        uses: crazy-max/ghaction-setup-docker@v3.1.0

      - name: Docker Compose on MacOS
        if: steps.changes.outputs.stack == 'true' && matrix.os == 'macos-latest'
        shell: bash
        run: |
          brew install docker-compose
          mkdir -p ~/.docker/cli-plugins
          ln -sfn /usr/local/opt/docker-compose/bin/docker-compose ~/.docker/cli-plugins/docker-compose || true
          docker compose version

      - name: Remove existing containers
        if: steps.changes.outputs.stack == 'true'
        continue-on-error: true
        shell: bash
        run: |
          docker rm $(docker ps -aq) --force || true
          docker volume prune -f || true
          docker buildx use default || true

      # - name: Run integration tests
      #   if: steps.changes.outputs.stack == 'true'
      #   timeout-minutes: 60
      #   env:
      #     HAGRID_ART: false
      #     PYTEST_MODULES: "${{ matrix.pytest-modules }}"
      #     HAGRID_FLAGS: "--tag=beta --test --build-src=dev"
      #   run: |
      #     tox -e stack.test.integration

      - name: Run integration tests
        uses: nick-fields/retry@v3
        if: steps.changes.outputs.stack == 'true'
        env:
          HAGRID_ART: false
          PYTEST_MODULES: "${{ matrix.pytest-modules }}"
          HAGRID_FLAGS: "--tag=beta --test --build-src=dev"
        with:
          timeout_seconds: 1800
          max_attempts: 3
          command: tox -e stack.test.integration
        continue-on-error: true

      - name: Reboot node
        if: matrix.os == 'windows' && failure()
        run: |
          shutdown /r /t 1

      - name: Run log collector
        timeout-minutes: 5
        if: failure()
        shell: bash
        run: |
          python ./scripts/container_log_collector.py

      - name: Get job name and url
        id: job_name
        if: failure()
        shell: bash
        run: |
          echo "job_name=$(echo ${{ github.job }})" >> $GITHUB_OUTPUT
          echo "url=$(echo ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})" >> $GITHUB_OUTPUT

      - name: Get current date
        id: date
        if: failure()
        shell: bash
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Upload logs to GitHub
        uses: actions/upload-artifact@master
        if: failure()
        with:
          name: ${{ matrix.os }}-${{ steps.job_name.outputs.job_name }}-${{ matrix.pytest-modules }}-logs-${{ steps.date.outputs.date }}
          path: ./logs/${{ steps.job_name.outputs.job_name}}/

      - name: Get pull request url
        id: pull_request
        if: failure()
        shell: bash
        run: |
          echo "url=$(echo ${{ github.event.pull_request.html_url }})" >> $GITHUB_OUTPUT

      - name: Job Report Status
        if: github.repository == 'OpenMined/PySyft' && failure()
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notify_when: "failure"
          notification_title: " {workflow} has {status_message}"
          message_format: "${{matrix.os}} {emoji} *{job}* {status_message} in {run_url}"
          footer: "Find the PR here ${{ steps.pull_request.outputs.url }}"
          mention_users: "U01LNCACY03,U8KUAD396,UNMQ2SJSW,U01SAESBJA0"
          mention_users_when: "failure,warnings"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ACTION_MONITORING_SLACK_WEBHOOK_URL }}
