name: PR Tests - Frontend

on:
  workflow_call:

  pull_request:
    branches:
      - dev
      - main
      - "0.8"

concurrency:
  group: frontend-${{ github.event_name == 'pull_request' && format('{0}-{1}', github.workflow, github.event.pull_request.number) || github.workflow_ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: ./packages/grid/frontend

jobs:
  pr-tests-frontend-unit:
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12"]

    runs-on: ubuntu-20.04 # ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Check for file changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          base: ${{ github.ref }}
          token: ${{ github.token }}
          filters: .github/file-filters.yml

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        if: steps.changes.outputs.frontend == 'true'
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pip dependencies
        if: steps.changes.outputs.frontend == 'true'
        run: |
          python -m pip install --upgrade pip
          pip install uv==0.4.1 tox==4.18.0 tox-uv==1.11.2
          uv --version

      - name: Get uv cache dir
        id: pip-cache
        if: steps.changes.outputs.frontend == 'true'
        shell: bash
        run: |
          echo "dir=$(uv cache dir)" >> $GITHUB_OUTPUT

      - name: Load github cache
        uses: actions/cache@v4
        if: steps.changes.outputs.frontend == 'true'
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-uv-py${{ matrix.python-version }}-frontend
          restore-keys: |
            ${{ runner.os }}-uv-py${{ matrix.python-version }}-

      - name: Docker on MacOS
        if: steps.changes.outputs.frontend == 'true' && matrix.os == 'macos-latest'
        uses: crazy-max/ghaction-setup-docker@v3.3.0

      - name: Remove existing containers
        if: steps.changes.outputs.frontend == 'true'
        continue-on-error: true
        shell: bash
        run: |
          docker rm $(docker ps -aq) --force || true
          docker volume prune -f || true
          docker buildx use default || true

      - name: Run Frontend Unit Tests
        if: steps.changes.outputs.frontend == 'true'
        env:
          DOCKER: true
        run: |
          tox -e frontend.test.unit
