# Stack Integration Tests
name: Syft + Grid Stack Integration Tests

on:
  # schedule:
  #   - cron: "0 22 * * *" # 7pm Brazil, 10pm UTC, 8am AEST
  pull_request:
    branches:
      - dev
      - main
      - "0.6.0"
  workflow_dispatch:
    inputs:
      none:
        description: "Run Version Tests Manually"
        required: false

jobs:
  stack-integration-tests:
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest]
        python-version: [3.9]

    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v2

      - name: Check for file changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        if: steps.changes.outputs.stack == 'true'
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get pip cache dir
        if: steps.changes.outputs.stack == 'true'
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: pip cache
        uses: actions/cache@v2
        if: steps.changes.outputs.stack == 'true'
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-py${{ matrix.python-version }}
          restore-keys: |
            ${{ runner.os }}-pip-py${{ matrix.python-version }}

      - name: Upgrade pip
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install --upgrade --user pip

      - name: Install tox
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install tox --upgrade

      - name: Install Docker Compose
        if: runner.os == 'Linux'
        shell: bash
        run: |
          mkdir -p ~/.docker/cli-plugins
          DOCKER_COMPOSE_VERSION=v2.1.1
          curl -sSL https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-linux-x86_64 -o ~/.docker/cli-plugins/docker-compose
          chmod +x ~/.docker/cli-plugins/docker-compose

      - name: Run integration tests
        if: steps.changes.outputs.stack == 'true'
        timeout-minutes: 30
        run: |
          tox -e stack.test.integration

  stack-integration-tests-windows:
    strategy:
      max-parallel: 3
      matrix:
        os: [Windows-10]
        python-version: [3.9]

    runs-on: [self-hosted, windows]

    steps:
      - uses: actions/checkout@v2

      - name: Check for file changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        if: steps.changes.outputs.stack == 'true'
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get pip cache dir
        if: steps.changes.outputs.stack == 'true'
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
        shell: powershell

      - name: pip cache
        uses: actions/cache@v2
        if: steps.changes.outputs.stack == 'true'
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-py${{ matrix.python-version }}
          restore-keys: |
            ${{ runner.os }}-pip-py${{ matrix.python-version }}

      - name: Upgrade pip
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install --upgrade --user pip
        shell: pwsh

      - name: Install tox
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install tox --upgrade
        shell: pwsh

      - name: Run integration tests
        if: steps.changes.outputs.stack == 'true'
        timeout-minutes: 30
        run: |
          pip install -e packages/hagrid
          docker --version
          docker compose version
          docker volume rm test_domain_1_app-db-data --force || true
          docker volume rm test_domain_2_app-db-data --force || true
          docker volume rm test_network_1_app-db-data --force || true
          docker volume rm test_domain_1_tailscale-data --force || true
          docker volume rm test_domain_2_tailscale-data --force || true
          docker volume rm test_network_1_tailscale-data --force || true
          docker volume rm test_network_1_headscale-data --force || true

          HAGRID_ART=false hagrid launch test_network_1 network to docker:9081 --tail=false
          HAGRID_ART=false hagrid launch test_domain_1 domain to docker:9082 --tail=false
          HAGRID_ART=false hagrid launch test_domain_2 domain to docker:9083 --tail=false --headless=true

          (docker logs test_domain_1-backend_stream-1 -f ) | Select-string -q "Application startup complete" || true
          (docker logs test_domain_2-backend_stream-1 -f ) | Select-string -q "Application startup complete" || true
          (docker logs test_network_1-backend_stream-1 -f ) | Select-string -q "Application startup complete" || true


          sleep 5

          pytest tests/integration -m frontend -p no:randomly --co
          pytest tests/integration -m frontend -vvvv -p no:randomly -p no:benchmark -o log_cli=True --capture=no

          bash -c 'docker stop test_network_1-frontend-1 || true'
          bash -c 'docker stop test_domain_1-frontend-1 || true'

          pytest tests/integration -m network -p no:randomly --co
          pytest tests/integration -m network -vvvv -p no:randomly -p no:benchmark -o log_cli=True --capture=no

          pytest tests/integration -m general -p no:randomly --co
          pytest tests/integration -m general -vvvv -p no:randomly -p no:benchmark -o log_cli=True --capture=no

          pytest tests/integration -m e2e -p no:randomly --co
          pytest tests/integration -m e2e -vvvv -p no:randomly -p no:benchmark -o log_cli=True --capture=no

          pytest tests/integration -m security -p no:randomly --co
          pytest tests/integration -m security -vvvv -p no:randomly -p no:benchmark -o log_cli=True --captureInvoke-Expression

          HAGRID_ART=false hagrid land test_network_1
          HAGRID_ART=false hagrid land test_domain_1
          HAGRID_ART=false hagrid land test_domain_2
        #tox -e stack.test.integration.windows
        shell: pwsh

  stack-integration-tests-smpc:
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest]
        python-version: [3.9]

    runs-on: self-hosted

    steps:
      - name: set permissions on work folder for self-runners
        run: |
          sudo chown -R $USER:$USER ~/actions-runner/openmined/

      - uses: actions/checkout@v2

      - name: Check for file changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        if: steps.changes.outputs.stack == 'true'
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get pip cache dir
        if: steps.changes.outputs.stack == 'true'
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: pip cache
        uses: actions/cache@v2
        if: steps.changes.outputs.stack == 'true'
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-py${{ matrix.python-version }}
          restore-keys: |
            ${{ runner.os }}-pip-py${{ matrix.python-version }}

      - name: Upgrade pip
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install --upgrade --user pip

      - name: Install tox
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install tox --upgrade

      - name: docker cache
        uses: actions/cache@v2
        if: steps.changes.outputs.stack == 'true'
        continue-on-error: true
        with:
          path: .docker-cache
          key: ${{ runner.os }}-docker
          restore-keys: |
            ${{ runner.os }}-docker

      - name: Run integration tests
        if: steps.changes.outputs.stack == 'true'
        shell: bash
        run: |
          mkdir -p ~/.docker/cli-plugins
          DOCKER_COMPOSE_VERSION=v2.1.1
          curl -sSL https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-linux-x86_64 -o ~/.docker/cli-plugins/docker-compose
          chmod +x ~/.docker/cli-plugins/docker-compose
          docker rm `docker ps -aq` --force || true
          rm -rf .tox
          tox -e stack.test.integration.smpc
          docker rm `docker ps -aq` --force || true
          docker system prune --volumes --force || true

  stack-integration-tests-k8s:
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest]
        python-version: [3.9]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Check for file changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        if: steps.changes.outputs.stack == 'true'
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get pip cache dir
        if: steps.changes.outputs.stack == 'true'
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: pip cache
        uses: actions/cache@v2
        if: steps.changes.outputs.stack == 'true'
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-py${{ matrix.python-version }}
          restore-keys: |
            ${{ runner.os }}-pip-py${{ matrix.python-version }}

      - name: Upgrade pip
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install --upgrade --user pip

      - name: Install tox
        if: steps.changes.outputs.stack == 'true'
        run: |
          pip install tox --upgrade

      - name: Run integration tests
        if: steps.changes.outputs.stack == 'true'
        shell: bash
        run: |
          # replace minikube with an older version
          wget https://github.com/kubernetes/minikube/releases/download/v1.23.2/minikube-linux-amd64
          mv minikube-linux-amd64 minikube
          chmod +x minikube
          export PATH=`pwd`:$PATH
          minikube version
          curl -s -L "https://github.com/loft-sh/devspace/releases/latest" | sed -nE 's!.*"([^"]*devspace-linux-amd64)".*!https://github.com\1!p' | xargs -n 1 curl -L -o devspace && chmod +x devspace;
          sudo install devspace /usr/local/bin;
          tox -e stack.test.integration.k8s
