# Helm chart values used for development and testing
# Can be used through `helm install -f values.dev.yaml` or devspace `valuesFiles`

global:
  randomizedSecrets: false

registry:
  resourcesPreset: null
  resources: null

  storageSize: "5Gi"

node:
  rootEmail: info@openmined.org
  defaultWorkerPoolCount: 1
  associationRequestAutoApproval: true

  resourcesPreset: null
  resources: null

  secret:
    defaultRootPassword: changethis

mongo:
  resourcesPreset: null
  resources: null

  secret:
    rootPassword: example

seaweedfs:
  resourcesPreset: null
  resources: null

  secret:
    s3RootPassword: admin

frontend:
  resourcesPreset: null
  resources: null

proxy:
  resourcesPreset: null
  resources: null

rathole:
  enabled: "true"
